* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  background: #050505;
  font-family: Arial, sans-serif;
}

#game {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#111827, #020617);
  overflow: hidden;
}

#game::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 3000px;
  height: 35%;
  background: linear-gradient(#1f2937, #030712);
  border-top: 3px solid #22c55e;
}

#player {
  position: absolute;
  bottom: 28%;
  left: 80px;
  font-size: 55px;
  z-index: 5;
  transition: transform 0.1s;
}

.paper {
  position: absolute;
  bottom: 33%;
  font-size: 38px;
  z-index: 4;
  animation: float 1.5s infinite alternate;
}

.paper:nth-of-type(1) { left: 320px; }
.paper:nth-of-type(2) { left: 650px; }
.paper:nth-of-type(3) { left: 980px; }
.paper:nth-of-type(4) { left: 1310px; }
.paper:nth-of-type(5) { left: 1640px; }
.paper:nth-of-type(6) { left: 1970px; }

@keyframes float {
  from { transform: translateY(0); }
  to { transform: translateY(-10px); }
}

#dialog {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.80);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 20;
  padding: 20px;
}

#dialog p {
  background: #020617;
  color: white;
  border: 2px solid #22c55e;
  padding: 25px;
  border-radius: 18px;
  max-width: 420px;
  font-size: 22px;
  text-align: center;
  box-shadow: 0 0 25px #22c55e66;
}

#closeDialog {
  position: absolute;
  bottom: 80px;
  padding: 14px 25px;
  border: none;
  border-radius: 12px;
  background: #22c55e;
  color: black;
  font-weight: bold;
  font-size: 17px;
}

#controls {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
  z-index: 10;
}

#controls button {
  font-size: 30px;
  padding: 15px 22px;
  border-radius: 50%;
  border: none;
  background: #22c55e;
}

#finish {
  position: absolute;
  left: 2300px;
  bottom: 31%;
  width: 280px;
  padding: 25px;
  background: #020617;
  border: 2px solid #22c55e;
  border-radius: 20px;
  color: white;
  text-align: center;
  box-shadow: 0 0 30px #22c55e88;
}

#finish h1 {
  color: #22c55e;
  font-size: 42px;
  margin: 0;
}

#finish a {
  display: block;
  margin-top: 15px;
  padding: 14px;
  border-radius: 12px;
  background: #22c55e;
  color: black;
  text-decoration: none;
  font-weight: bold;
}